.entryForm {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;

  .prizePool {
    font-size: 2em;
    color: $erDkGrey;
  }

  .pickNumbersForm {
    margin: 1em;
    @include dropShadow($erLtGrey, 5px, -5px);
    @include screenDropShadows(5px, -5px, 2px, true);

    .numberPicker {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 1.5em;
      padding: 0.3em 0.5em 0.3em 0.5em;

      select {
        /* Stops cipher bg being grey */
        background-color: white !important;
        outline: none !important;
      }
    }
  }

  .entryButton {
    display: flex;
    width: 29em;
    height: 4em;
    margin: 0.5em;
    cursor: pointer;
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    @include dropShadow($erLtGrey);

    &.screen5 {
      background-image: url('../../images/buy_ticket.svg');
      &:hover{@include dropShadow($erBlue);}
    }
  }

  .randomButton {
    display: flex;
    width: 26em;
    height: 3.5em;
    margin: 0.5em;
    cursor: pointer;
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    @include dropShadow($erLtGrey);

    &.screen5 {
      background-image: url('../../images/randomise_button.svg');
      &:hover{@include dropShadow($erBlue);}
    }
  }

  .ticketPrice {
    font-size: 1.5em;
    padding: 0.5em;
  }
}

.entryFormLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}


.entryFormNotConnected {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em;
}

.entryFormClosed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0.5em 0;

  .closedButton {
    @include dropShadow($erLtGrey);
    margin: 1.5em 0 1em 0;
    width: 19em;
    padding: 0.8em 1.6em 0.8em 1.6em;
  }
}

@media (max-width: $desktop) {
  .entryForm {

    .prizePool {
      font-size: 1.3em;
    }

    .entryButton {
      width: 19em;
      height: 2.6em;
      background-size: 95%;
      padding: 0.1em;
    }

    .randomButton {
      width: 15em;
      height: 2.5em;
      background-size: 95%;
      padding: 0.1em;
    }

    .pickNumbersForm {
      margin: 0.5em;

      .numberPicker {
        font-size: 1.1em;
        padding: 0.1em 0.3em 0.1em 0.3em;
      }
    }

    .ticketPrice {
      font-size: 1.1em;
      padding: 0.2em;
    }
  }

  .entryFormClosed {

    .closedButton {
      margin: 1.5em 0 0.5em 0;
      width: 13em;
      padding: 0.6em 1.4em 0.6em 1.4em;
    }
  }
}

@media (max-width: $laptop) {
  .entryForm {
    
    .entryButton {
      width: 18em;
      height: 2.8em;
      margin: 0.5em;
      background-size: 95%;
    }

    .pickNumbersForm {
      margin: 0.3em;

      .numberPicker {
        font-size: 1em;
        padding: 0.1em 0.2em 0.1em 0.2em;
      }
    }
  }

  .entryFormNotConnected {
    margin: 1.8em;
  }

  .entryFormClosed {
    .closedButton {
      padding: 0.5em 1.3em 0.5em 1.3em;
    }
  }
}

@media (max-width: $tablet) {
  .entryForm {

    .prizePool {
      font-size: 1.15em;
    }

    .entryButton {
      width: 14em;
      height: 2.2em;
      margin: 0.5em 0 0.3em 0;
      background-size: 95%;
    }

    .randomButton {
      width: 12em;
      height: 2em;
      margin-bottom: 0.5em;
    }

    .pickNumbersForm {
      margin: 0.3em;

      .numberPicker {
        font-size: .8em;
        padding: 0.1em 0.2em 0.1em 0.2em;
      }
    }

    .ticketPrice {
      font-size: 1em;
      padding: 0.1em;
    }
  }

  .entryFormNotConnected {
    margin: 1.4em;
  }
}

@media (max-width: $mobile) {
  .entryForm {
    width: 100%;

    .prizePool {
      font-size: 1.25em;
    }

    .entryButton {
      width: 15em;
      margin-bottom: 0.5em;
    }

    .randomButton {
      width: 13em;
      height: 2em;
      margin-bottom: 0.5em;
    }

    .pickNumbersForm {
      width: 10em;
      margin: 0.8em 0 0.8em 0;

      .numberPicker {
        font-size: .9em;
        padding: 0.2em 0.2em 0.2em 0.2em;
      }
    }
  }

  .entryFormLoading {
    flex-direction: column;
    margin: 0.3em 0 0 0;
  }

  .entryFormNotConnected {
    margin: 0.5em;
  }

  .entryFormClosed {
    margin: 0 0 0.3em 0;
    .closedButton {
      margin: 1.5em 0 0 0;
      width: 11em;
      padding: 0.5em 1.2em 0.5em 1.2em;
    }
  }
}

@media (max-width: $mini) {
  .entryForm {
    width: 100%;

    .prizePool {
      font-size: 1.15em;
    }

    .entryButton {
      width: 12em;
      margin-bottom: 0.5em;
    }

    .randomButton {
      width: 11.5em;
      height: 1.8em;
      margin-bottom: 0.5em;
    }

    .pickNumbersForm {
      width: 10em;
      margin: 0.8em 0 0.8em 0;

      .numberPicker {
        font-size: .9em;
        padding: 0.2em 0.2em 0.2em 0.2em;
      }
    }

    .ticketPrice {
      font-size: 0.85em;
      padding: 0.1em;
    }
  }

  .entryFormNotConnected {
    margin: 0.3em;
    padding: 0;
  }
}
