.customTheme {
  &.screen1{color: rgba(62,214,126,1) !important;}
  &.screen2{color: rgba(150,137,170,1) !important;}
  &.screen3{color: rgba(236,60,226,1) !important;}
  &.screen4{color: rgba(158,123,226,1) !important;}
  &.screen5{color: rgba(51,211,224,1) !important;}
}
